:root {
    --header-background-color: #005691;
    --header-color: #fafafa;
    --footer-background-color: #dce7ef;
    --footer-color: #333;
    --menu-color: #0b3c61;
    --the-slide-tips-width-1024: 15%;
    --the-slide-tips-width-1400: 12%;
    --the-slide-tips-width-1550: 10%;
    --slide-tips-background-color: #4ca9e2;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
* {
    font-family: "Noto Sans TC", sans-serif;
    /* font-family: 'Noto Serif TC', serif;*/
}
html {
    scroll-behavior: smooth;
}
main {
    position: relative;
    overflow: hidden;
    top: 59.59px;
}
.main-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 背景 */
    pointer-events: none;
}
.main-bg svg {
    width: 100%;
}
.main-content {
    position: relative;
}
button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}
.menu form input::placeholder {
    color: rgba(11, 60, 97, 0.5);
}
.menu .slide-tips {
    display: none;
    transition: 0.2s;
    pointer-events: none;
    background-color: var(--slide-tips-background-color);
}

/* 控制header動畫的css */
.main-header-container.header-position-fixed,
.menu.header-position-fixed {
    position: fixed;
    background-color: var(--header-background-color);
    transform: translateY(-101%);
    transition: none;
}
.menu .slide-tips.change-slide-tips-color {
    background-color: var(--slide-tips-background-color);
}
.main-header-container.add-transition,
.menu.add-transition {
    transition: 0.2s;
}
.main-header-container.return-to-position,
.menu.return-to-position {
    transform: translateY(0);
}

.hb,
.icon,
.icon-logo,
.icon-text,
.cart,
.search,
.community-icon > div span {
    cursor: pointer;
}
/* 手機排版-header */
.main-header,
.main-footer {
    position: relative;
}
.main-footer {
    top: 59.59px;
}
.main-header-container {
    background-color: var(--header-background-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 9px;
    /* position: relative; */
    position: fixed;
    z-index: 5;
}
.main-header-container .icon-text,
.main-header-container .cart,
.hb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-header-container svg,
.icon-text img,
.cart img {
    width: 85%;
}
.icon-logo {
    display: none;
}
.menu {
    width: 100%;
    position: absolute;
    /* bottom: 100%; */
    /* top: 100%; */
    transform: translateY(-100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
}
.menu div {
    border-top: 0;
}
.menu a,
.menu div {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 20px 0;
    color: var(--menu-color);
    border: 1px solid #dddddd;
}
.menu form {
    width: 70%;
    position: relative;
}
.menu form button {
    position: absolute;
    left: 12px;
    top: 10px;
}
.menu form input {
    width: 100%;
    padding: 6px;
    border: 1px solid var(--header-background-color);
    background-color: #fff;
    color: var(--header-background-color);
    border-radius: 8px;
    text-indent: 32px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 0vh;
    background-color: #0005;
    border: none;
    outline: none;
    z-index: 1;
    /* display: none; */
}
#switch-hb {
    display: none;
}
#switch-hb:checked ~ .menu {
    transform: translateY(62px);
}
#switch-hb:checked ~ .overlay {
    height: 100vh;
}
.menu,
.overlay {
    transition: 0.3s;
}
.menu.index {
    display: none;
}

/* 切換為 X（叉叉） 的樣式 */
#switch-hb:checked ~ div .line1 {
    transform: rotate(45deg) translate(6px, 7px);
}

#switch-hb:checked ~ div .line2 {
    transform: scaleX(0);
}

#switch-hb:checked ~ div .line3 {
    transform: rotate(-45deg) translate(22px, -5px) scaleX(2);
}
.line1,
.line2,
.line3 {
    transition: all 0.3s ease;
    transform-origin: center;
}
.line3 {
    transform-origin: center;
}

/* 手機排版-footer */
.main-footer-container {
    background-color: var(--footer-background-color);
    color: var(--footer-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.main-footer-container .icon-text img {
    width: 80%;
}
.main-footer-container .icon-text,
.main-footer-container .community-icon,
.main-footer-container .community-icon span,
.main-footer-container .info,
.main-footer-container .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-footer-container .community-icon > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 15px;
}
.main-footer-container .community-icon > div span img {
    width: 70%;
}
.main-footer-container nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.main-footer-container nav a {
    color: var(--footer-color);
}
.main-footer-container .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2px;
}

@media screen and (min-width: 500px) {
    /* footer社群icon位置調整 */
    .main-footer-container .community-icon > div {
        display: flex;
        gap: 10px;
    }
    .main-footer-container .community-icon > div span img {
        width: 85%;
    }
}

@media screen and (min-width: 550px) {
    /* footer info位置調整*/
    .main-footer-container nav {
        flex-direction: row;
        gap: 26px;
    }
    .main-footer-container .icon-text {
        width: 80%;
        margin: auto;
    }
    .main-footer-container .icon-text img {
        width: 65%;
    }
}

@media screen and (min-width: 768px) {
    /*手機 ~ 平板（直）：手機header、手機footer（社群icon排一列）*/
}

@media screen and (min-width: 1024px) {
    /*平板（直）~ 平板（橫）：電腦header、手機footer*/
    main {
        position: relative;
        /* top: 0px; */
    }
    #switch-hb,
    .overlay,
    .hb {
        display: none;
    }
    .menu.index {
        display: flex;
    }
    .menu .slide-tips {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        order: 0;
        width: 15%;
        height: 6px;
    }
    .icon {
        display: flex;
        flex-wrap: wrap;
    }
    .main-header-container .icon-logo {
        display: flex;
    }
    .main-footer-container .icon-text img {
        width: 50%;
    }
    .icon-logo img {
        width: 40px;
    }
    .main-header-container {
        position: fixed;
        justify-content: space-between;
        padding: 9px 40px;
    }
    .menu,
    .overlay {
        transition: 0s;
    }
    .menu {
        width: 65%;
        position: fixed;
        background-color: transparent;
        color: var(--header-color);
        flex-direction: row;
        justify-content: end;
        transform: none;
        top: 0px;
        right: 78.8px;
        z-index: 5;
    }
    .menu a,
    .menu > div {
        width: var(--the-slide-tips-width-1024);
        border: none;
        padding: 12.795px 0;
        background-color: transparent;
        color: var(--header-color);
        font-size: 16px;
    }
    .menu form {
        width: 80%;
    }
    .menu > div input {
        padding: 4px;
    }
    .menu .search {
        width: 90%;
    }
    .menu > div:not(.slide-tips) {
        justify-content: center;
        width: 30%;
        order: 1;
    }
    .menu form button {
        top: 8px;
    }
    #switch-hb:checked ~ .menu {
        transform: translateY(0px);
    }
    /* 預設slide-tips位置 */
    .menu .slide-tips {
        right: -40px;
        width: 40px;
    }
    /* slide-tips移動 */
    .menu .index:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1024) * 3));
        width: var(--the-slide-tips-width-1024);
    }
    .menu .product:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1024) * 2));
        width: var(--the-slide-tips-width-1024);
    }
    .menu .about-us:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1024) * 1));
        width: var(--the-slide-tips-width-1024);
    }
    .menu .help:hover ~ .slide-tips {
        right: calc(30%);
        width: var(--the-slide-tips-width-1024);
    }
    /* 移到購物車 */
    /* .main-header-container:has(.cart:hover) + .menu .slide-tips {
        right: calc(-40px);
        width: 40px;
    } */

    .main-footer {
        /* top: 0; */
    }
}

@media screen and (min-width: 1200px) {
    /*平板（橫）~ 電腦：電腦header、電腦footer（客服信箱、服務時間上下排）*/
    .main-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 65px;
    }
    .main-footer-container .icon {
        gap: 5px;
    }
    .main-footer-container .icon-logo {
        display: flex;
    }
    .main-footer-container .icon-text img {
        width: 100%;
    }
    .main-footer-container .community-icon {
        order: 1;
    }
    .main-footer-container .community-icon > div {
        gap: 15px;
    }
    .main-footer-container nav a {
        position: relative;
    }
    .main-footer-container nav a:nth-child(-n + 2)::after {
        content: "";
        position: absolute;
        cursor: default;
        pointer-events: none;
        width: 1px;
        height: 30px;
        top: -2px;
        right: -13px;
        background-color: var(--footer-color);
    }
}

@media screen and (min-width: 1400px) {
    /*：一般電腦：電腦header、電腦footer（資訊區塊加分隔線）*/
    /* header 區塊間距微調 */
    .main-footer-container nav {
        gap: 51px;
    }
    .main-footer-container nav a:nth-child(-n + 2)::after {
        right: -25px;
    }
    .menu a {
        width: var(--the-slide-tips-width-1400);
    }
    /* 預設slide-tips位置 */
    .menu .slide-tips {
        right: -40px;
        width: 40px;
    }
    /* slide-tips移動 */
    .menu .product:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1400) * 2));
        width: var(--the-slide-tips-width-1400);
    }
    .menu .about-us:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1400) * 1));
        width: var(--the-slide-tips-width-1400);
    }
    .menu .help:hover ~ .slide-tips {
        right: calc(30%);
        width: var(--the-slide-tips-width-1400);
    }
    .menu .index:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1400) * 3));
        width: var(--the-slide-tips-width-1400);
    }
}

@media screen and (min-width: 1550px) {
    /*：一般電腦：電腦header、電腦footer（客服信箱、服務時間並排）*/
    /* header 區塊間距微調 */
    .main-footer-container {
        position: relative;
    }
    .main-footer-container .contact {
        flex-direction: row;
        gap: 40px;
    }
    .menu a {
        width: var(--the-slide-tips-width-1550);
    }
    /* 預設slide-tips位置 */
    .menu .slide-tips {
        right: -40px;
        width: 40px;
    }
    /* slide-tips移動 */
    .menu .product:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1550) * 2));
        width: var(--the-slide-tips-width-1550);
    }
    .menu .about-us:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1550) * 1));
        width: var(--the-slide-tips-width-1550);
    }
    .menu .help:hover ~ .slide-tips {
        right: calc(30%);
        width: var(--the-slide-tips-width-1550);
    }
    .menu .index:hover ~ .slide-tips {
        right: calc(30% + calc(var(--the-slide-tips-width-1550) * 3));
        width: var(--the-slide-tips-width-1550);
    }
}

@media screen and (min-width: 1700px) {
    /* footer 客服信箱、服務時間 gap 間距微調 */
    .main-footer-container .contact {
        gap: 70px;
    }
}
