h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
    display: block;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
.main-content {
    width: 62.5%;
    margin: 3.125% auto;
}
h3 {
    font-family: "Noto Serif TC", serif;
    font-size: 1.734vw;
    font-weight: 400;
    color: #004a7c;
    position: relative;
}
h3::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #004a7c;
    top: 1px;
    left: -20px;
}
.bar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.breadcrumb {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 20px; */
}
.breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumb ul li {
    font-size: 0.8333vw;

    /* margin-right: 10px; */
}
.breadcrumb ul li a {
    color: #004a7c;
    text-decoration: none;
}
.breadcrumb ul li:not(:last-child)::after {
    content: ">";
    margin: 0 5px;
    color: #004a7c;
}
.help-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
}
