h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
    display: block;
    font-size: inherit;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.main-content {
    width: 62.5%;
    margin: 6.25% auto;
}
h3 {
    font-family: "Noto Serif TC", serif;
    font-size: 1.734vw;
    font-weight: 400;
    color: #004a7c;
    position: relative;
}
h3::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #004a7c;
    top: 1px;
    left: -20px;
}
.bar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.breadcrumb {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 20px; */
}
.breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumb ul li {
    font-size: 0.8333vw;

    /* margin-right: 10px; */
}
.breadcrumb ul li a {
    color: #004a7c;
    text-decoration: none;
}
.breadcrumb ul li:not(:last-child)::after {
    content: ">";
    margin: 0 5px;
    color: #004a7c;
}
.help-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.125% auto;
}
.arrow {
    display: none;
}
.help-area-FAQ {
    display: none;
}
.help-area > div {
    width: 100%;
    margin-bottom: 5%;
}
.help-area-title {
    font-size: 1.6666vw;
    position: relative;
}
.help-area-content {
    position: relative;
    font-size: 1.2vw;
    margin: 2.5% 0;
    line-height: 1.6;
}
.help-area-content::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #3388bb;
    top: 1px;
    left: 0px;
}
.help-area-content-card {
    width: 95%;
    position: relative;
    left: 5%;
    margin-top: 2.5%;
}
.help-area-content-card-Q {
    position: relative;
}
.help-area-content-card-A {
    /* padding-left: 5%; */
}
.help-area-content-card ul {
}
.help-area-content-card ul li {
    list-style: disc;
    margin-left: 5%;
}
.help-nav-bar {
    width: 10%;
    position: fixed;
    top: calc(59.59px + 20%);
    /* right: 5.5%; */
    right: 0;
    transform: translateX(100%);
}
.help-nav-bar.display {
    transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1.2);
    right: 5.5%;
    transform: translateX(0);
}
.help-nav-bar-FAQ {
    font-size: 1.25rem;
    text-align: center;
}
.help-nav-bar-item {
    padding: 5% 10%;
    margin: 5% 0;
    font-size: 1.25rem;
    background-color: #fff;
    color: #004a7c;
    border: 1px solid #004a7c;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
    .help-nav-bar-item:hover {
        background-color: #004a7c;
        color: #fff;
        cursor: pointer;
    }
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1440px) {
    .help-nav-bar-FAQ {
        font-size: 0.9rem;
    }
    .help-nav-bar-item {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1400px) {
    .main-content {
        width: 67.5%;
    }
}
@media screen and (max-width: 1280px) {
    .main-content {
        margin-top: 8.25%;
    }
}
@media screen and (max-width: 1023px) {
    .help-nav-bar {
        display: none;
    }
    .main-content {
        width: 75%;
    }
    .main-display {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .bar {
        gap: 6%;
    }
    .bar > h3 {
        font-size: 3vh;
    }
    .breadcrumb ul li {
        font-size: 1.5vh;
    }
    .help-area {
        width: 100%;
        margin: 30px 0 0 0;
    }
    .arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
    }
    .child-arrow {
        right: 1%;
    }
    /* 三個常見問題手風琴 */
    #buy_and_pay .help-area-content {
        display: grid;
        /* grid-template-rows: repeat(2, 0fr); */
        grid-template-rows: minmax(0, 0fr) minmax(0, 0fr);
        position: relative;
    }
    #delivery_and_fare .help-area-content {
        display: grid;
        /* grid-template-rows: repeat(2, 0fr); */
        grid-template-rows: minmax(0, 0fr) minmax(0, 0fr);
    }
    #returns_and_warranty .help-area-content {
        display: grid;
        /* grid-template-rows: repeat(3, 0fr); */
        grid-template-rows: minmax(0, 0fr) minmax(0, 0fr) minmax(0, 0fr);
    }
    #buy_and_pay .help-area-content.r2-1,
    #delivery_and_fare .help-area-content.r2-1 {
        grid-template-rows: minmax(0, 1fr) minmax(0, 0fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #buy_and_pay .help-area-content.r2-2,
    #delivery_and_fare .help-area-content.r2-2 {
        grid-template-rows: minmax(0, 0fr) minmax(0, 1fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #buy_and_pay .help-area-content.r2,
    #delivery_and_fare .help-area-content.r2 {
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #returns_and_warranty .help-area-content.r3-1 {
        grid-template-rows: minmax(0, 1fr) minmax(0, 0fr) minmax(0, 0fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #returns_and_warranty .help-area-content.r3-2 {
        grid-template-rows: minmax(0, 0fr) minmax(0, 1fr) minmax(0, 0fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #returns_and_warranty .help-area-content.r3-3 {
        grid-template-rows: minmax(0, 0fr) minmax(0, 0fr) minmax(0, 1fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    #returns_and_warranty .help-area-content.r3 {
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        border-width: 0px 1px 1px 1px;
        background-color: #fff;
    }
    .help-area > div {
        margin: 0;
    }
    .help-area-title {
        background-color: #fff;
        border: 1px solid #005691;
        border-radius: 5px;
        color: #005691;
        padding: 2% 3%;
    }
    .arrow {
        transition: transform 0.3s;
    }
    .help-area-title.active {
        color: #fff;
        background-color: #005691;
    }
    .help-area-title path {
        fill: #005691;
    }
    .help-area-title.active .arrow {
        transform: translateY(-50%) rotate(90deg);
    }
    .help-area-title.active path {
        fill: #fff;
    }
    .help-area-content-card-Q.active .arrow {
        transform: translateY(-50%) rotate(90deg);
    }
    .help-area-content {
        width: 95%;
        margin: 0 0 2.5% 2.5%;
        border-width: 0;
        border-style: solid;
        border-color: #005691;
        border-radius: 0 0 5px 5px;
        padding-bottom: 2.5%;
    }
    .help-area-content-card {
        left: 2.5%;
    }
    .help-area-content *,
    .help-area-content-card-A * {
        overflow: hidden;
    }
    /* 常見問題手風琴點開，裡面QA的巢狀手風琴 */
    .help-area-content-card-A {
        display: grid;
        grid-template-rows: minmax(0, 0fr);
        /* position: absolute; */
    }
    .help-area-content-card-A.r1 {
        grid-template-rows: minmax(0, 1fr);
    }
    .help-area-content,
    .help-area-content-card-A {
        transition: 0.3s;
    }
    /*  */
    /* 首先正常打開.help-area-content，比方說grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); */
    /* 要打開其內的.help-area-content-card-A時=>grid-template-rows: minmax(0, 1fr); */
    /* 把不屬於該區域的.help-area-content-card關掉 */
    /* 比方說打開的.help-area-content-card-A是第三區塊的.help-area-content-card */
    /* 那就把.help-area-content=>grid-template-rows: minmax(0, 0fr) minmax(0, 0fr) minmax(0, 1fr); */
    /*  */
    .help-area-FAQ {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 1.3rem;
        color: #004a7c;
        margin: 30px auto 11px;
        position: relative;
    }
    .help-area-FAQ::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #004a7c;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
    .help-area-title {
        font-size: 1.2rem;
    }
    .help-area-content-card {
        font-size: 1rem;
    }
    .help-area-content::before {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .help-area-content-card {
        font-size: 0.95rem;
    }
}
@media screen and (max-width: 440px) {
    .help-area-title {
        font-size: 1rem;
    }
    .help-area-content-card {
        font-size: 0.85rem;
    }
}
@media screen and (max-width: 400px) {
    .help-area-content-card {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 380px) {
    .help-area-content-card {
        font-size: 0.75rem;
    }
}
